.super-mario {
    width: 200px;
    position: absolute;
    z-index: 3;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 500px;
    z-index: 3;
    right: 1655px;
  }
  
  .baloon {
  
    position: absolute;
    bottom: 570px;
    right: 1180px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    bottom: 650px;
    z-index: 4;
    right: 1231px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    bottom: 500px;
    z-index: 2;
    right: 999px;
  }